<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="forceUcaseTableName" value="True"/>
    <add key="forceUcaseFieldName" value="True"/>
    <add key="ns" value="LinqMysql.user"/>

    <!-- TODO: we may do some more explicit configuration -->
    <!-- At this time, we define an alias with <ISchemaLoader/IDbConnection> instances -->
    <add key="MySql" value="DbLinq.MySql.MySqlSchemaLoader, DbLinq.MySql/MySql.Data.MySqlClient.MySqlConnection, MySql.Data" />
    <add key="Oracle" value="DbLinq.Oracle.OracleSchemaLoader, DbLinq.Oracle/System.Data.OracleClient.OracleConnection, System.Data.OracleClient" />
    <add key="OracleODP" value="DbLinq.Oracle.OracleSchemaLoader, DbLinq.Oracle/Oracle.DataAccess.Client.OracleConnection, Oracle.DataAccess" />
    <add key="PostgreSql" value="DbLinq.PostgreSql.PgsqlSchemaLoader, DbLinq.PostgreSql/Npgsql.NpgsqlConnection, Npgsql" />
    <add key="Sqlite" value="DbLinq.Sqlite.SqliteSchemaLoader, DbLinq.Sqlite/System.Data.SQLite.SQLiteConnection, System.Data.SQLite" />

  </appSettings>
</configuration>
