<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="parameters" type="System.Configuration.AppSettingsSection" />
    <section name="providers" type="SqlMetal.ProvidersSection, SqlMetal" />
  </configSections>

  <appSettings>
  </appSettings>

  <parameters>
    <add key="forceUcaseTableName" value="True"/>
    <add key="forceUcaseFieldName" value="True"/>
    <!-- picrap: don't know what it is
    <add key="ns" value="LinqMysql.user"/>
    -->
  </parameters>

  <providers>
    <providers>
      <provider name="MySql"      dbLinqSchemaLoader="DbLinq.MySql.MySqlSchemaLoader, DbLinq.MySql"
                                  databaseConnection="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" />

      <provider name="Oracle"     dbLinqSchemaLoader="DbLinq.Oracle.OracleSchemaLoader, DbLinq.Oracle"
                                  databaseConnection="System.Data.OracleClient.OracleConnection, System.Data.OracleClient" />

      <provider name="OracleODP"  dbLinqSchemaLoader="DbLinq.Oracle.OracleSchemaLoader, DbLinq.Oracle"
                                  databaseConnection="Oracle.DataAccess.Client.OracleConnection, Oracle.DataAccess" />

      <provider name="PostgreSql" dbLinqSchemaLoader="DbLinq.PostgreSql.PgsqlSchemaLoader, DbLinq.PostgreSql"
                                  databaseConnection="Npgsql.NpgsqlConnection, Npgsql" />

      <provider name="Sqlite"     dbLinqSchemaLoader="DbLinq.Sqlite.SqliteSchemaLoader, DbLinq.Sqlite"
                                  databaseConnection="System.Data.SQLite.SQLiteConnection, System.Data.SQLite" />
    </providers>
  </providers>

</configuration>
